@model TicketModel
@{
    ViewData["Title"] = "Ticket Counter";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Add a Ticket</p>
@using (Html.BeginForm("AddTicket","Home",FormMethod.Post))
{
    <div class=" body-content">
   <div class="row">
       @Html.TextBoxFor(m => m.Client)
   </div>
<div class="row">
    @Html.TextBoxFor(m => m.Client)
   
</div>
<div class="row">
    @Html.TextBoxFor(m => m.Client)
</div>
<div class="row">
    @Html.TextBoxFor(m => m.Client)
</div>
        </div>



}
